{% extends "registration/base.html" %}
{% load static %}


{% block title %}ユーザー登録{% endblock title %}


{% block css %}
{% endblock css %}


{% block script %}
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock script %}


{% block content %}
<h3 class="mb-3 text-center">ユーザー登録フォーム</h3>

<form method="POST" action="{% url 'accounts:signup' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="mb-3">
    <label for="{{ form.email.id_for_label }}" class="form-label">
      {{ form.email.label }}
    </label>
    {{ form.email }}
  </div>

  <div class="mb-3">
    <label for="{{ form.password1.id_for_label }}" class="form-label">
      {{ form.password1.label }}
    </label>
    {{ form.password1 }}
  </div>

  <div class="mb-4">
    <label for="{{ form.password2.id_for_label }}" class="form-label">
      {{ form.password2.label }}
    </label>
    {{ form.password2 }}
  </div>

  <button type="submit" class="btn btn-success btn-lg w-100">
    登録する
  </button>
</form>

<div class="text-center mt-3">
  <p>すでにアカウントをお持ちですか？
    <a href="{% url 'accounts:login' %}" class="text-primary text-decoration-none">
      ログインはこちら
    </a>
  </p>
</div>
{% endblock content %}
