{% extends "base.html" %}


{% block title %}新規登録{% endblock title %}


{% block content %}

<h2>サインアップ</h2>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div>
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
  </div>

  <div>
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
  </div>

  <div>
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>

  <div>
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>

  <div>
    {{ form.grade.label_tag }}
    {{ form.grade }}
    {{ form.grade.errors }}
  </div>

  <div>
    {% include './select_form.html' %}
    <button type="submit">登録</button>
  </div>

</form>

<p><a href="{% url 'login' %}">ログインはこちら</a></p>

{% endblock content %}
