{% extends "base_auth.html" %}
{% load static %}


{% block title %}ユーザー登録{% endblock title %}


{% block css %}
{% endblock css %}


{% block script %}
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock script %}


{% block content %}
<h3 class="mb-3 text-center">ユーザー登録フォーム</h3>

<form method="POST" action="{% url 'accounts:signup' %}">{% csrf_token %}
  {# --- Error messages --- #}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <ul class="mb-0">

        {# フィールドごとのエラー #}
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}

        {# 全体のエラー #}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}

      </ul>
    </div>
  {% endif %}

  {# --- Mail address --- #}
  <div class="mb-3">
    <label for="{{ form.email.id_for_label }}" class="form-label">
      {{ form.email.label }}
    </label>
    {{ form.email }}
  </div>

  {# --- Password --- #}
  <div class="mb-3">
    <label for="{{ form.password1.id_for_label }}" class="form-label">
      {{ form.password1.label }}
    </label>
    {{ form.password1 }}
  </div>

  {# --- Password2 --- #}
  <div class="mb-3">
    <label for="{{ form.password2.id_for_label }}" class="form-label">
      {{ form.password2.label }}
    </label>
    {{ form.password2 }}
  </div>

  {# --- Submit button --- #}
  <button type="submit" class="btn btn-primary btn-lg w-100">
    登録する
  </button>
</form>

<div class="text-center mt-3">
  <p>すでにアカウントをお持ちですか？
    <a href="{% url 'accounts:login' %}" class="text-primary text-decoration-none">
      ログインはこちら
    </a>
  </p>
</div>
{% endblock content %}
