{% extends "base.html" %}
{% load static %}

{% block css %}
  {# Reset CSS #}
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  {# My CSS #}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock css %}

{% block script %}
    {# news #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/mail.js' %}" defer></script>
{% endblock script %}

{% block content %}

{# --- News modal --- #}
<div id="mail-modal-overlay" style="display: none;">
  <div id="mail-modal">
    <div class="modal-header">
      <h2>内容</h2>
      <button onclick="hideMailModal()">閉じる</button>
    </div>
    <pre id="mail-text"></pre>
  </div>
</div>

<h1>全部</h1>

<table>
    <thead>
        <tr>
            <th>発信日</th>
            <th>件名</th>
        </tr>
    </thead>
    <tbody>
        {% for email in all_emails %}
        <tr>
            {# 発信日をより詳細な形式で表示 #}
            <td>{{ email.received_at|date:"Y/m/d H:i" }}</td>
                <td>
                    {# 🚨 タイトルをリンクにしてデータ属性を付与 🚨 #}
                    <a href="{% url 'core:api_email_body' email.pk %}"
                    class="email-link"
                    data-url="{% url 'core:api_email_body' email.pk %}"> 
                    {{ email.subject }} 
                    </a>
                </td>
        </tr>
        {% empty %}
        <tr><td colspan="2">現在、受信メールはありません。</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}